.app-container.auth-class{
  .auth-page{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;
    .auth-form{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      overflow: scroll;
      h1{
        font-family: 'Lily Script One', cursive;
        font-size: 2rem;
        padding: 30px 0;
      }
      .default-form{
        width:50%;
        a{
          text-decoration: none;
          color: blue;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    .image{
      width: 100%;
      -webkit-border-top-right-radius: 10px;
      -webkit-border-bottom-right-radius: 10px;
      -moz-border-radius-topright: 10px;
      -moz-border-radius-bottomright: 10px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
}

  .btn{
    width: 100%;
    background: white;
    font-size: 1rem;
    padding: 20px 0;
    margin: 5px;
    transition: all 0.3s ease-in-out;
    border-radius: 4px;
    border: 1px solid black;
    &:hover{
      border: 1px solid #797979;
      color: #797979;
      a{
        color: $fontColor;
      }
    }
  }
